.contactDetailsCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.65rem;
    border:1.5px solid #6751b9;
    padding: 1.5rem;
    margin-bottom: 2rem;
    background: #130f2a;
}
.contactDetailsCard .icon{
    width: 4rem;
    height: 4rem;
    background:#3d3072;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    margin-bottom: 0.8rem;
}
.icon img {
    width: 1.8rem;
    height: auto;
    object-fit: contain;
}
.contactDetailsCard p {
    font-size: 0.9rem;
    font-weight: 400;
}
@media (max-width:426px){
    .contactDetailsCard {
       
        width: 380px ;
        /* margin-left: -35px; */
    }
   
}

@media (max-width:376px){
    .contactDetailsCard {
       
        width: 335px;
        
      
    }
   .contactDetailsCard p {
    font-size: 12px;
   }
}